@import "../base/variable.scss";

.Register {
  circle {
    fill: $color-white;
    stroke-width: $line-width;
    stroke: $color-black;
  }

  polyline {
    fill: None;
    stroke-width: $line-width;
    stroke: $color-black;
  }
}
